.formArea{
    height: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
    margin: auto;
    margin-top: 100px;
    width: 45%;
    padding: 25px;

}

.main{
    height: 100vh;
    width: 100%;
    background-color: rgb(229, 229, 229);
  }


 .label{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
  }

 .formfield{
    width: 500px;
    box-shadow: 1px 1px 14px 1px rgba(0,0,0,0.42);
-webkit-box-shadow: 1px 1px 14px 1px rgba(0,0,0,0.42);
-moz-box-shadow: 1px 1px 14px 1px rgba(0,0,0,0.42);
font-family: 'Poppins', sans-serif;
 }

 .createNoteButton{
    height: 50px;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    font-size: 15px;
    font-weight: bold;
    box-shadow: 12px 12px 22px;
 }

 .createNoteButton:hover{
    outline:  solid rgb(246, 149, 231);
 }

 @media (max-width: 768px) {
    .formArea{
        height: auto;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
        border-radius: 30px;
        box-shadow: 12px 12px 22px;
        margin: auto;
        margin-top: 100px;
        width: 50%;
        padding: 25px;
    
    }
    .formfield{
        width: 200px;
        box-shadow: 1px 1px 14px 1px rgba(0,0,0,0.42);
        -webkit-box-shadow: 1px 1px 14px 1px rgba(0,0,0,0.42);
        -moz-box-shadow: 1px 1px 14px 1px rgba(0,0,0,0.42);
        font-family: 'Poppins', sans-serif;
     }

     .formfield:focus{
        outline:  solid rgb(176, 157, 212);
     }
     .createNoteButton{
        height: 50px;
        width: 60%;
        border: none;
        outline: none;
        border-radius: 50px;
        color: white;
        font-family: 'Poppins', sans-serif;
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        font-size: 15px;
        font-weight: bold;
        box-shadow: 12px 12px 22px;
     }
  }
  